.my-button {
    font-size: 1em;
    color: white;
    background-color: green;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    padding: 6px 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    &:hover {
        background-color: lighten($color: green, $amount: 5%);
    }
    &:active {
        background-color: darken($color: green, $amount: 5%);
    }
}