* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
            background-color: #ffdd00;
    .banner{
        width: 100%;
    }
    .navBar {
        background-color: #ffd000;
        height: 4.5rem;
    img{
        width: 80%;
        position: relative;
        left: 40%;
    }

    .me-auto{
        height: 4.5rem;
        width: 80%;
        display: flex;
        justify-content: flex-end;



        #basic-nav-dropdown{
            height: 4.3rem;
            position: relative;
            top: 20%;
            color: white;
        }

        .miCuenta{
            height: 4.3rem;
            position: relative;
            top: 20%;
            color: white;
        }

        .Carrito{
            height: 4.3rem;
            width: 36%;
            color: white;
        }
    }
       
    }
}


    .MenudeBotones{
        background-color: #ffdd00;
        width: 100%;
        display: flex;
        justify-content: center;
        height: 2.2rem;
    
        Button{
            background-color: #ffdd00;
            color: blue;
            font-weight: 700;
            border-color: #ffdd00;
        }
    
    }



.Carrito{
    font-size: 2em;
}

.ProductosMain {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}